<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foreverfind">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".stockdetails"><intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter></activity>

        <activity android:name=".Restock"/>

        <activity android:name=".AdminPanel" />
        <activity android:name=".home" />
        <activity android:name=".add"/>
        <activity android:name=".PersonalProfile" />
        <activity android:name=".PaymentSummary" />
        <activity android:name=".PaymentMethod" />
        <activity android:name=".PaymentConfirm" />
        <activity android:name=".Orders" />
        <activity android:name=".OrderConfirm" />
        <activity android:name=".Messages" />
        <activity android:name=".ManageProfile" />
        <activity android:name=".ConfirmDelete" />
        <activity android:name=".orders02" />
        <activity android:name=".summary" />
        <activity android:name=".DeliveryForm" />
        <activity android:name=".Edit" />
        <activity android:name=".ToysActivity" />
        <activity android:name=".shoppingCart" />
        <activity android:name=".ChocolateActivity" />
        <activity android:name=".CakeActivity" />
        <activity android:name=".AddShop" />
        <activity android:name=".ItemActivity" />
        <activity android:name=".getStarted" />
        <activity
            android:name=".Register"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".Login"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
    </application>

</manifest>